<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Im in the app components</h3>
            <!-- <app-servers></app-servers> -->
            <hr>  
            <h3>Alerts HW1</h3>
            <app-success-alert></app-success-alert>
            <app-warning-alert></app-warning-alert>
            <hr>
            <h3>Data Binding HW2</h3>
            <app-data-binding-hw></app-data-binding-hw>
            <hr>
            <h3>Directives HW3</h3>
            <app-directives-hw></app-directives-hw>
            
         </div>
    </div>
</div>







